<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>

<!--would link_to 'my blog', articles_path also work? -->

<!--if you want to link to an action in the same controller, you dont need
to specifiy the :controller option, rails will use the current controller by default   -->


